@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
  background: #050816;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: #050816;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  backface-visibility: hidden;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}
